{% extends "../../../views/layouts/default.html" %}

{% block content %}
<h2>Roles</h2>
<table class="item-list">
	<thead>
		<tr>
			<th><input type="checkbox"></th>
			<th>Name</th>
			<th>Key</th>
		</tr>
	</thead>
	<tbody>
		{% for item in items %}
			<tr>
				<td><input type="checkbox"></td>
				<td>{{ item.name }}</td>
				<td>{{ item.key }}</td>
			</tr>
		{% endfor %}
		{% if !items.length %}
			<tr class="empty-set">
				<td colspan="3">No roles found, would you like to <a href="/roles/create/">create one</a>?</td>
			</tr>
		{% endif %}
	</tbody>
</table>
{% endblock %}

