$base-font-family: helvetica, 'helvetica neue', arial, 'lucida grande', sans-serif;
$base-font-weight: 300;
$base-line-height: 24px;

$font-size-base: 15px;
$font-size-small: 11px;
$font-size-large: 18px;
