* {
	@include box-sizing(border-box);
}
body {
	background: #fff;
	color: #444;
	font: $base-font-weight $font-size-base $base-font-family;
	line-height: $base-line-height;
}

th {
	text-align: left;
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

