* {
	@include box-sizing(border-box);
}
body {
	background: #fff;
	color: #444;
	font: $base-font-weight $font-size-base $base-font-family;
	line-height: $base-line-height;
}

th {
	text-align: left;
}

h2 {
	font-weight: 300;
}

fieldset {
	padding: 12px;
}

select {
	padding: 0 6px;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px #fafafa;
	background: #fff;
	font: inherit;
}

input {
	&:not([type]),
	&[type='email'],
	&[type='password'],
	&[type='text'] {
		padding: 0 6px;
		border: 1px solid #ccc;
		border-radius: 2px;
		box-shadow: inset 1px 1px 1px #fafafa;
		background: #fff;
		font: inherit;
		&:focus {
			border-color: #aaa;
			outline: 0;
			background: #fdfdfd;
		}
	}
}

textarea {
	height: 100px;
	padding: 0 6px;
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: inset 1px 1px 1px #fafafa;
	background: #fff;
	font: inherit;
	&:focus {
		border-color: #aaa;
		outline: 0;
		background: #fdfdfd;
	}
}

.wrap {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}
