.informal {
	.pages {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		li {
			margin-top: 6px;
			&:first-child {
				margin-top: 0;
			}
		}
	}
	label {
		display: inline-block;
		width: 20%;
		line-height: 30px;
	}
	select {
		display: inline-block;
		width: 40%;
		height: 30px;
		line-height: 28px;
	}
	input {
		&[type='email'],
		&[type='password'],
		&[type='text'] {
			display: inline-block;
			width: 40%;
			height: 30px;
			line-height: 28px;
		}
		&[type='submit'], &[type='checkbox'], &[type='radio'] {
			width: auto;
		}
	}
	textarea {
		width: 40%;
	}
	.field-location {
		position: relative;
		.map-search {
			margin: 6px;
			font: $base-font-weight $font-size-base $base-font-family;
			line-height: $base-line-height;
		}
		.map-canvas {
			height: 300px;
			margin: 0 0 9px;
		}
	}
	.field-db-select {
		a {
			margin-left: 12px;
		}
	}
}
