.lightbox-wrap {
	overflow: auto;
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 50px 0;
	background: rgba(0, 0, 0, .6);
}
.lightbox-content {
	width: 960px;
	margin: 0 auto;
	padding: 6px 24px 24px;
	background: #fff;
}
