nav {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	a {
		display: block;
		text-decoration: none;
	}
}

.nav-primary {
	li {
		height: 50px;
	}
	a {
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		color: #fff;
		text-indent: -999em;
		@include transition(background-color .1s ease-in-out);
	}
	.active a, a:hover {
		background-color: #666;
	}
}

.icn-users {
	background-image: url(../img/icons/i-user.png);
}
.icn-offers {
	background-image: url(../img/icons/i-offer.png);
}
.icn-partners {
	background-image: url(../img/icons/i-partner.png);
}
.icn-accommodations {
	background-image: url(../img/icons/i-accommodation.png);
}

.nav-user {
	position: absolute;
	bottom: 0;
}

.nav-pager {
	li {
		display: inline-block;
		cursor: default;
	}
	&.type-tabbed {
		line-height: 30px;
		ul {
			padding: 0 6px;
			border-bottom: 1px solid #ccc;
		}
		li {
			position: relative;
			bottom: -1px;
			padding: 0 18px;
			border: 1px solid transparent;
			border-radius: 3px 3px 0 0;
			color: #aaa;
		}
		.active {
			border-color: #ccc;
			border-bottom-color: #fff;
			background: #fff;
			color: #444;
		}
	}
}
